// Place all the styles related to the poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-c {
	background:#f9f9f9;
}

.cover {
	background-image:url("top.jpg");
	background-size:cover;
	height:300px;
}

.cover h1 {
	color: #ff7a8a;
	position:absolute;
	top:80px;
	text-align:center;
	width:100%;
	font-size:60px;
}

.cover h4 {
	color: #113a5d;
	position:absolute;
	top:150px;
	text-align:center;
	width:100%;
	font-size:18px;
}

.ransack {
	color: #113a5d;
	position:absolute;
	top:200px;
	text-align:center;
	width:100%;
}

.poems h2 {
	color:#113a5d;
}

.card-margin {
	margin:20px;
}

.tag-color {
	color: #ff7a8a;
}

.item-image {
	background: #000;
	overflow:hidden;
}

.item-image img:hover {
	opacity:0.7;
	transform: scale(1.1);
	transition-duration: 0.3s;
}
.link-color {
	color:#ff7a8a;
}


//ここからshow

.navigation {
	overflow: hidden;
	padding: 10px 0;
	margin: 0 auto;
}
	.prev {
		float:left;
	}

	.next {
		float: right;
		text-align:right;
	}

.header h1 {
	color:#ff7a8a;
}

.content {
	margin: 0 auto;
}

@media screen and (max-width:576px) {
	.image-width {
		width:100%;
		height:150px;

	}

}

@media screen and (max-width:878px) {
	.image-width {
		width:100%;
		height:240px;

	}
}

@media screen and (max-width:1024px) {
	.image-width {
		width:100%;
		height:300px;

	}
}


.border-b {
	border:dotted 3px #113a5d;
}

//ここから


.content li {
	float:left;
	list-style:none;
	margin-right:30px;
	padding:3px;
	color:#ff7a8a;
	
}





.author {
	clear:both;
}
